html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

pre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 10px;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-right: auto;
}

textarea {
    color: white;
    background-color: #232f3e;
    resize: none;
    border: solid;
    border-color: white;
    border-width: 0.5px;
    width: 496px;
    padding-bottom: 10px;
}

select {
    color: white;
    background-color: #232f3e;
    border: solid;
    border-color: white;
    border-width: 0.5px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    margin-bottom: 10px;
    color: white;
    background-color: #232f3e;
    resize: none;
    border: solid;
    border-color: white;
    border-width: 0.5px;
    width: 496px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
    background-color: white;
    color: #232f3e;
}

.container {
    display: flex;
    height: 100vh;
}

.tab {
    float: left;
    background-color: black;
    width: 20%;
    height: 100vh;
    text-align: center;
}

.main {
    flex: 1;
    background-color: #232f3e;
}

.alt-h3 {
    text-align: left;
    margin-left: 10px;
}

.div-form {
    width: 500px;
    border: solid;
    border-radius: 10px;
    border-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    text-align: left;
}

.tab-button {
    background-color: #232f3e;
    color: white;
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post-button {
    background-color: #232f3e;
    color: white;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}


.post-item {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    text-decoration: none;
    color: white; 
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-item:hover {
    background-color: #ffffff; 
    color: #232f3e;
}

.post-date {
    white-space: nowrap;
    margin-left: 20px;
}

.post-list-button {
    all: unset; 
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: pointer;
}